{
    "script": {
        "lang": "mustache",
        "source": """
        {
            "suggest": {
                "auto_comp_suggest": {
                    "prefix": "{{input}}",
                    "completion": {
                      "field": "{{field}}",
                      "skip_duplicates": true
                    }
                }
            },
            "_source": ["suggest"]
        }"""        
    }
}